{{define "subject"}} Welcome to Merola Station!{{end}}

{{define "plainBody"}}
    Hi,

    Thanks for signing up for a Merola Station account. We're excited to have you on board.

    For future reference, you username is {{.username}}.

    Please click on the link below to activate your account:

    http://localhost:3000/activate?user_id={{.username}}&activation_token={{.activationToken}}

    Please note that this is one-time use token, and it will expire in 7 days.

    Thanks,

    Merola Station

{{end}}


{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewpoint" content="width=device-width"/>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
</head>

<body>
    <p>Hi,</p>
    <p>Thanks for signing up for a Merola Station account. We're excited to have you on board!</p>
    <p>For future reference, you username is {{.username}}.</p>
    <p>Please click on the link below to activate your account:</p>
    <pre><code>
    {http://localhost:3000/activate?user_id={{.userID}}&activation_token={{.activationToken}}}
    </code></pre>
    <p>Please note that this is a one-time use token, and it will expire in 7 days.</p>
    <p>Thanks,</p>
    <p>Merola Station</p>
</body>

</html>
{{end}}
